@import "../../../../styles/variables.scss";

.refund-container {
    width: 100%;
    margin: 0 auto;
    .refund-wrapper {
        .refund-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $light-brown;
            .refund-content {
                width: 90%;
                margin: 0 auto;
            }
        }
    }
}

@media (max-width: 575.98px) {
    .refund-container {
        .refund-wrapper {
            .refund-item {
                .refund-content {
                    margin: 35px auto;
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .refund-container {
        .refund-wrapper {
            .refund-item {
                .refund-content {
                    margin: 40px auto;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .refund-container {
        .refund-wrapper {
            .refund-item {
                &:first-child {
                    order: 2;
                }
                .refund-content {
                    margin: 45px auto;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .refund-container {
        margin-bottom: 80px;
    }
}

@media (min-width: 1200px) {
    .refund-container {
        margin-bottom: 90px;
    }
}

@media (min-width: 1400px) {
    .refund-container {
        width: 1300px;
        margin-bottom: 100px;
        .refund-wrapper {
            .refund-item {
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                img {
                    display: block;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                    object-fit: fill;
                }
            }
        }
    }
}

@media (min-width: 1684px) {
    .refund-container {
        width: 1684px;
    }
}
