@import "../../../styles/GlobalStyles.scss";

@mixin fill($borColor, $backColor1, $backColor2, $hColor) {
    color: $borColor;
    background: linear-gradient(to left, $backColor1 50%, $backColor2 50%) right;
    background-size: 200%;
    transition: 0.3s ease-out;
    border: 1px solid $borColor;

    &:hover {
        background-position: left;
        color: $hColor;
    }
}

@mixin ease($textColor, $borColor, $hTextColor, $hBackColor) {
    color: $textColor;
    background-color: $borColor;
    transition: 0.3s all;
    border: 1px solid $borColor;

    &:hover {
        color: $hTextColor;
        background-color: $hBackColor;
    }
}

.btn {
    display: block;
    padding: 0 24px;
    border-radius: 100px;
}

.btn.ease-orange-trans {
    @include ease($white, $orange, $orange, transparent);
}

.btn.fill-trans-white {
    @include fill($white, transparent, $white, $orange);
}

.btn.fill-orange-trans {
    @include fill($orange, $orange, transparent, $orange);
    color: $white;
}

.btn.fill-trans-orange {
    @include fill($orange, transparent, $orange, $white);
}

@media (max-width: 575.78px) {
    .btn {
        font-size: 11px;
        height: 36px;
    }
}

@media (min-width: 576px) {
    .btn {
        font-size: 12px;
        height: 38px;
    }
}

@media (min-width: 768px) {
    .btn {
        font-size: 13px;
        height: 40px;
    }
}

@media (min-width: 992px) {
    .btn {
        font-size: 14px;
        height: 42px;
    }
}

@media (min-width: 1200px) {
    .btn {
        font-size: 15px;
        height: 44px;
    }
}

@media (min-width: 1400px) {
    .btn {
        font-size: 16px;
        height: 46px;
    }
}