@import "../../../../styles/variables.scss";

.shipping-information-wrapper {
    text-align: left;
    border: 1px solid $light-gray;
    border-radius: 5px;
    .shipping-information {
        display: flex;
        p {
            color: gray;
        }
        &:first-child {
            border-bottom: 1px solid $light-gray;
        }
    }
}

.shipping-form {
    text-align: left;
    .shipping-header {
        font-weight: bold;
    }

    .shipping-group {
        border: 1px solid $light-gray;
        border-radius: 5px;
        .shipping-option {
            display: flex;
            align-items: center;
            span {
                font-weight: bold;
                margin-left: auto;
            }
        }
    }
    .damage-protection {
        text-align: right;
        width: 50%;
    }
}
.process-btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
        cursor: pointer;
        &:hover {
            color: $orange;
        }
    }
}

@media (max-width: 575.98px) {
    .shipping-information-wrapper {
        padding: 0 8px;
        .shipping-information {
            padding: 8px;
            p {
                font-size: 12px;
                width: 80px;
            }
            span,
            address {
                font-size: 12px;
                margin-left: 16px;
            }
        }
    }

    .shipping-form {
        padding: 13px 0;
        margin-top: 20px;
        .shipping-header {
            font-size: 14px;
            margin-bottom: 16px;
        }
        .shipping-group {
            .shipping-option {
                gap: 10px;
                padding: 0 8px;
                .shipping-input {
                    margin-left: 8px;
                }
                .shipping-label,
                span {
                    font-size: 12px;
                }
            }
        }
        .damage-protection {
            font-size: 10px;
            margin: 16px 0 16px auto;
        }
    }
    .process-btn-group {
        span {
            font-size: 12px;
            svg {
                margin-right: 3px;
            }
        }
    }
}

@media (min-width: 576px) {
    .shipping-information-wrapper {
        padding: 0 9px;
        .shipping-information {
            padding: 9px;
            p {
                font-size: 13px;
                width: 90px;
            }
            span,
            address {
                font-size: 13px;
                margin-left: 18px;
            }
        }
    }

    .shipping-form {
        padding: 14px 0;
        margin-top: 25px;
        .shipping-header {
            font-size: 15px;
            margin-bottom: 18px;
        }
        .shipping-group {
            .shipping-option {
                gap: 11px;
                padding: 0 9px;
                .shipping-input {
                    margin-left: 9px;
                }
                .shipping-label,
                span {
                    font-size: 13px;
                }
            }
        }
        .damage-protection {
            font-size: 11px;
            margin: 18px 0 18px auto;
        }
    }
    .process-btn-group {
        span {
            font-size: 13px;
            svg {
                margin-right: 4px;
            }
        }
    }
}

@media (min-width: 768px) {
    .shipping-information-wrapper {
        padding: 0 10px;
        .shipping-information {
            padding: 10px;
            p {
                font-size: 14px;
                width: 100px;
            }
            span,
            address {
                font-size: 14px;
                margin-left: 20px;
            }
        }
    }

    .shipping-form {
        padding: 15px 0;
        margin-top: 30px;
        .shipping-header {
            font-size: 16px;
            margin-bottom: 20px;
        }
        .shipping-group {
            .shipping-option {
                gap: 12px;
                padding: 0 10px;
                .shipping-input {
                    margin-left: 10px;
                }
                .shipping-label,
                span {
                    font-size: 14px;
                }
            }
        }
        .damage-protection {
            font-size: 12px;
            margin: 20px 0 20px auto;
        }
    }
    .process-btn-group {
        span {
            font-size: 14px;
            svg {
                margin-right: 5px;
            }
        }
    }
}

@media (min-width: 992px) {
    .shipping-information-wrapper {
        padding: 0 8px;
        .shipping-information {
            padding: 8px;
            p {
                font-size: 12px;
                width: 80px;
            }
            span,
            address {
                font-size: 12px;
                margin-left: 16px;
            }
        }
    }

    .shipping-form {
        padding: 13px 0;
        margin-top: 20px;
        .shipping-header {
            font-size: 14px;
            margin-bottom: 16px;
        }
        .shipping-group {
            .shipping-option {
                gap: 10px;
                padding: 0 8px;
                .shipping-input {
                    margin-left: 8px;
                }
                .shipping-label,
                span {
                    font-size: 12px;
                }
            }
        }
        .damage-protection {
            font-size: 10px;
            margin: 16px 0 16px auto;
        }
    }
    .process-btn-group {
        span {
            font-size: 12px;
            svg {
                margin-right: 3px;
            }
        }
    }
}

@media (min-width: 1200px) {
    .shipping-information-wrapper {
        padding: 0 9px;
        .shipping-information {
            padding: 9px;
            p {
                font-size: 13px;
                width: 90px;
            }
            span,
            address {
                font-size: 13px;
                margin-left: 18px;
            }
        }
    }

    .shipping-form {
        padding: 14px 0;
        margin-top: 25px;
        .shipping-header {
            font-size: 15px;
            margin-bottom: 18px;
        }
        .shipping-group {
            .shipping-option {
                gap: 11px;
                padding: 0 9px;
                .shipping-input {
                    margin-left: 9px;
                }
                .shipping-label,
                span {
                    font-size: 13px;
                }
            }
        }
        .damage-protection {
            font-size: 11px;
            margin: 18px 0 18px auto;
        }
    }
    .process-btn-group {
        span {
            font-size: 13px;
            svg {
                margin-right: 4px;
            }
        }
    }
}

@media (min-width: 1400px) {
    .shipping-information-wrapper {
        padding: 0 10px;
        .shipping-information {
            padding: 10px;
            p {
                font-size: 14px;
                width: 100px;
            }
            span,
            address {
                font-size: 14px;
                margin-left: 20px;
            }
        }
    }

    .shipping-form {
        padding: 15px 0;
        margin-top: 30px;
        .shipping-header {
            font-size: 16px;
            margin-bottom: 20px;
        }
        .shipping-group {
            .shipping-option {
                gap: 12px;
                padding: 0 10px;
                .shipping-input {
                    margin-left: 10px;
                }
                .shipping-label,
                span {
                    font-size: 14px;
                }
            }
        }
        .damage-protection {
            font-size: 12px;
            margin: 20px 0 20px auto;
        }
    }
    .process-btn-group {
        span {
            font-size: 14px;
            svg {
                margin-right: 5px;
            }
        }
    }
}
