@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");

:root {
    $black: #212121;
    $white: #ffffff;
    $orange: #ef776a;
    $light-brown: #fffcf6;
}

body {
    font-family: "Lora", serif;
    text-rendering: optimizeSpeed;
}
