@import "../../styles/variables.scss";

@mixin fill($borColor, $backColor1, $backColor2, $hColor) {
    color: $borColor;
    background: linear-gradient(to left, $backColor1 50%, $backColor2 50%) right;
    background-size: 200%;
    transition: 0.3s ease-out;
    border: 1px solid $borColor;

    &:hover {
        background-position: left;
        color: $hColor;
    }
}

@mixin ease($textColor, $borColor, $hTextColor, $hBackColor) {
    color: $textColor;
    background-color: $borColor;
    transition: 0.3s all;
    border: 1px solid $borColor;

    &:hover {
        color: $hTextColor;
        background-color: $hBackColor;
    }
}

.btn {
    display: block;
    border-radius: 100px;
    @media (max-width: 575.78px) {
        font-size: 11px;
        height: 36px;
        padding: 0 19px !important;
    }

    @media (min-width: 576px) {
        font-size: 12px;
        height: 38px;
        padding: 0 20px !important;
    }

    @media (min-width: 768px) {
        font-size: 13px;
        height: 40px;
        padding: 0 21px !important;
    }

    @media (min-width: 992px) {
        font-size: 14px;
        height: 42px;
        padding: 0 22px !important;
    }

    @media (min-width: 1200px) {
        font-size: 15px;
        height: 44px;
        padding: 0 23px !important;
    }

    @media (min-width: 1400px) {
        font-size: 16px;
        height: 46px;
        padding: 0 24px !important;
    }
}

.btn.small {
    @media (max-width: 575.78px) {
        font-size: 9px;
        height: 26px;
        padding: 0 12px !important;
    }

    @media (min-width: 576px) {
        font-size: 10px;
        height: 28px;
        padding: 0 13px !important;
    }

    @media (min-width: 768px) {
        font-size: 11px;
        height: 30px;
        padding: 0 14px !important;
    }

    @media (min-width: 992px) {
        font-size: 12px;
        height: 32px;
        padding: 0 15px !important;
    }

    @media (min-width: 1200px) {
        font-size: 13px;
        height: 34px;
        padding: 0 16px !important;
    }

    @media (min-width: 1400px) {
        font-size: 14px;
        height: 36px;
        padding: 0 17px !important;
    }
}

.btn.ease-trans-black {
    @include ease($black, transparent, $white, $black);
    border-color: $black;
}

.btn.ease-black-trans {
    @include ease($white, $black, $black, transparent);
}

.btn.ease-trans-orange {
    @include ease($orange, transparent, $white, $orange);
    border: 1px solid $orange;
}

.btn.ease-orange-trans {
    @include ease($white, $orange, $orange, transparent);
}

.btn.fill-trans-white {
    @include fill($white, transparent, $white, $orange);
}

.btn.fill-orange-trans {
    @include fill($orange, $orange, transparent, $orange);
    color: $white;
}

.btn.fill-trans-orange {
    @include fill($orange, transparent, $orange, $white);
}
