@import "../../../../styles/variables.scss";

.checkout-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    .checkout-header {
        font-weight: bold;
    }

    .checkout-group {
        display: flex;
    }
    .checkout-input {
        font-family: "Lora", serif !important;
        width: 100%;
        border: 1px solid $light-gray;
        border-radius: 5px;
        transition: all 0.3s;
        &::placeholder {
            color: gray;
        }
        &:focus-visible {
            border-color: #1878b9;
        }
    }
}

@media (max-width: 575.98px) {
    .checkout-form {
        padding: 11px 0;
        .checkout-header {
            font-size: 14px;
            margin-bottom: 16px;
        }
        .checkout-group {
            gap: 10px;
        }
        .checkout-input {
            font-size: 10px !important;
            margin-bottom: 10px;
            padding: 11px 6px;
            option {
                padding: 8px;
            }
        }
        .btn.move {
            margin: 14px 0 0 auto;
        }
    }
}

@media (min-width: 576px) {
    .checkout-form {
        padding: 13px 0;
        .checkout-header {
            font-size: 15px;
            margin-bottom: 18px;
        }
        .checkout-group {
            gap: 11px;
        }
        .checkout-input {
            font-size: 11px !important;
            margin-bottom: 11px;
            padding: 13px 8px;
            option {
                padding: 9px;
            }
        }
        .btn.move {
            margin: 16px 0 0 auto;
        }
    }
}

@media (min-width: 768px) {
    .checkout-form {
        padding: 15px 0;
        .checkout-header {
            font-size: 16px;
            margin-bottom: 20px;
        }
        .checkout-group {
            gap: 12px;
        }
        .checkout-input {
            font-size: 12px !important;
            margin-bottom: 12px;
            padding: 15px 10px;
            option {
                padding: 10px;
            }
        }
        .btn.move {
            margin: 18px 0 0 auto;
        }
    }
}

@media (min-width: 992px) {
    .checkout-form {
        padding: 11px 0;
        .checkout-header {
            font-size: 14px;
            margin-bottom: 16px;
        }
        .checkout-group {
            gap: 10px;
        }
        .checkout-input {
            font-size: 10px !important;
            margin-bottom: 10px;
            padding: 11px 6px;
            option {
                padding: 8px;
            }
        }
        .btn.move {
            margin: 14px 0 0 auto;
        }
    }
}

@media (min-width: 1200px) {
    .checkout-form {
        padding: 13px 0;
        .checkout-header {
            font-size: 15px;
            margin-bottom: 18px;
        }
        .checkout-group {
            gap: 11px;
        }
        .checkout-input {
            font-size: 11px !important;
            margin-bottom: 11px;
            padding: 13px 8px;
            option {
                padding: 9px;
            }
        }
        .btn.move {
            margin: 16px 0 0 auto;
        }
    }
}

@media (min-width: 1400px) {
    .checkout-form {
        padding: 15px 0;
        .checkout-header {
            font-size: 16px;
            margin-bottom: 20px;
        }
        .checkout-group {
            gap: 12px;
        }
        .checkout-input {
            font-size: 12px !important;
            margin-bottom: 12px;
            padding: 15px 10px;
            option {
                padding: 10px;
            }
        }
        .btn.move {
            margin: 18px 0 0 auto;
        }
    }
}
