@import "../../../../../globalstyles/variables.scss";

.social-posts-container {
    width: 100%;
    margin: 0 auto;

    .g-0 {
        .social-post-wrapper {
            position: relative;

            .social-post-img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .social-post-overlay {
                display: block;
                position: absolute;
                top: 0;
                z-index: 998;
                width: 100%;
                height: 100%;
                background-color: #000;
                opacity: 0;
                transition: all 0.5s;

                &:hover {
                    opacity: 0.5;
                }

                .ins-icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    font-size: 30px;
                    color: $white;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    .social-posts-container {
        margin-bottom: 35px;

        .g-0 {
            .social-post-wrapper {
                .social-post-overlay {
                    .ins-icon {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .social-posts-container {
        margin-bottom: 40px;

        .g-0 {
            .social-post-wrapper {
                .social-post-overlay {
                    .ins-icon {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .social-posts-container {
        margin-bottom: 45px;

        .g-0 {
            .social-post-wrapper {
                .social-post-overlay {
                    .ins-icon {
                        font-size: 24px;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .social-posts-container {
        margin-bottom: 50px;

        .g-0 {
            .social-post-wrapper {
                .social-post-overlay {
                    .ins-icon {
                        font-size: 26px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .social-posts-container {
        margin-bottom: 55px;

        .g-0 {
            .social-post-wrapper {
                .social-post-overlay {
                    .ins-icon {
                        font-size: 28px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1400px) {
    .social-posts-container {
        margin-bottom: 60px;

        .g-0 {
            .social-post-wrapper {
                .social-post-overlay {
                    .ins-icon {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1500px) {
    .social-posts-container {
        width: 1300px;
    }
}

@media (min-width: 1684px) {
    .social-posts-container {
        width: 1684px;
    }
}