@import "../../../../styles/variables.scss";

.best-sellers {
    .b-s-buttons {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $light-gray;

        .b-s-text {
            font-weight: 500;
        }

        .b-s-btn-list {
            display: flex;
            align-items: center;
            transform: translateY(0.8px);

            .b-s-btn {
                cursor: pointer;

                span {
                    display: block;
                }

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    .best-sellers {
        width: 95% !important;
        margin: 50px auto;

        .b-s-buttons {
            .b-s-text {
                font-size: 12px;
            }

            .b-s-btn-list {
                .b-s-btn {
                    font-size: 9px;
                    padding: 0 14px;

                    span {
                        padding: 2px 0;
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .best-sellers {
        margin: 60px auto;

        .b-s-buttons {
            .b-s-text {
                font-size: 14px;
            }

            .b-s-btn-list {
                .b-s-btn {
                    font-size: 10px;
                    padding: 0 16px;

                    span {
                        padding: 4px 0;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .best-sellers {
        margin: 70px auto;

        .b-s-buttons {
            .b-s-text {
                font-size: 16px;
            }

            .b-s-btn-list {
                .b-s-btn {
                    font-size: 11px;
                    padding: 0 18px;

                    span {
                        padding: 6px 0;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .best-sellers {
        margin: 80px auto;

        .b-s-buttons {
            .b-s-text {
                font-size: 18px;
            }

            .b-s-btn-list {
                .b-s-btn {
                    font-size: 12px;
                    padding: 0 20px;

                    span {
                        padding: 8px 0;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .best-sellers {
        margin: 90px auto;

        .b-s-buttons {
            .b-s-text {
                font-size: 20px;
            }

            .b-s-btn-list {
                .b-s-btn {
                    font-size: 13px;
                    padding: 0 25px;

                    span {
                        display: block;
                        padding: 10px 0;
                    }
                }
            }
        }
    }
}

@media (min-width: 1400px) {
    .best-sellers {
        width: 1300px !important;
        margin: 100px auto;

        .b-s-buttons {
            .b-s-text {
                font-size: 22px;
            }

            .b-s-btn-list {
                .b-s-btn {
                    font-size: 14px;

                    span {
                        padding: 12px 0;
                    }
                }
            }
        }
    }
}
