@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");
@import "./variables.scss";

body {
    font-family: "Lora", serif;
    text-rendering: optimizeSpeed;
    overflow-x: clip;
}

a:-webkit-any-link {
    color: $black;
    text-decoration: none;
    cursor: pointer;
}
