@import "../../../../styles/variables.scss";

.best-sellers {
    .b-s-buttons {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $light-gray;

        .b-s-text {
            font-weight: 500;
        }

        .b-s-btn-list {
            display: flex;
            align-items: center;
            transform: translateY(0.8px);

            .b-s-btn {
                cursor: pointer;

                span {
                    display: block;
                }

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }

    .row {
        .product {
            .product-img-wrapper {
                position: relative;

                .product-image {
                    display: block;
                    width: 100%;
                    height: auto;
                }

                .product-btn {
                    color: $orange;
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    width: 85%;
                    background-color: $white;
                    border: none;
                    border-radius: 3px;
                    transition: all 0.75s;
                    opacity: 0;

                    &:hover {
                        color: $white;
                        background-color: $orange;
                    }
                }
            }

            .product-info {
                background-color: $light-brown;

                >* {
                    width: 90%;
                    margin: 0 auto;
                }

                .p-info-list {
                    display: flex;
                    justify-content: space-between;

                    >* {
                        transition: all 0.5s;
                    }

                    &:hover {
                        >* {
                            color: $orange;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    .best-sellers {
        width: 90% !important;
        margin: 50px auto;

        .b-s-buttons {
            .b-s-text {
                font-size: 12px;
            }

            .b-s-btn-list {
                .b-s-btn {
                    font-size: 9px;
                    padding: 0 14px;

                    span {
                        padding: 2px 0;
                    }
                }
            }
        }

        .row {
            .product {
                margin-top: 10px;

                .product-img-wrapper {
                    .product-btn {
                        font-size: 11px;
                        top: 75%;
                        height: 30px;
                    }
                }

                .product-info {
                    padding: 10px 0;

                    .product-reviews {
                        font-size: 8px;
                    }

                    .p-info-list {
                        .product-name {
                            font-size: 12px;
                            width: 50%;
                        }

                        .product-price {
                            font-size: 12px;
                        }
                    }

                    .product-des {
                        font-size: 9px;
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .best-sellers {
        margin: 60px auto;

        .b-s-buttons {
            .b-s-text {
                font-size: 14px;
            }

            .b-s-btn-list {
                .b-s-btn {
                    font-size: 10px;
                    padding: 0 16px;

                    span {
                        padding: 4px 0;
                    }
                }
            }
        }

        .row {
            .product {
                margin-top: 12px;

                .product-img-wrapper {
                    .product-btn {
                        font-size: 12px;
                        top: 80%;
                        height: 35px;
                    }
                }

                .product-info {
                    padding: 11px 0;

                    .product-reviews {
                        font-size: 9px;
                    }

                    .p-info-list {
                        .product-name {
                            font-size: 13px;
                        }

                        .product-price {
                            font-size: 13px;
                        }
                    }

                    .product-des {
                        font-size: 11px;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .best-sellers {
        margin: 70px auto;

        .b-s-buttons {
            .b-s-text {
                font-size: 16px;
            }

            .b-s-btn-list {
                .b-s-btn {
                    font-size: 11px;
                    padding: 0 18px;

                    span {
                        padding: 6px 0;
                    }
                }
            }
        }

        .row {
            .product {
                margin-top: 14px;

                .product-img-wrapper {
                    .product-btn {
                        font-size: 14px;
                        top: 85%;
                        height: 40px;
                    }
                }

                .product-info {
                    padding: 12px 0;

                    .product-reviews {
                        font-size: 10px;
                    }

                    .p-info-list {
                        .product-name {
                            font-size: 14px;
                        }

                        .product-price {
                            font-size: 14px;
                        }
                    }

                    .product-des {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .best-sellers {
        margin: 80px auto;

        .b-s-buttons {
            .b-s-text {
                font-size: 18px;
            }

            .b-s-btn-list {
                .b-s-btn {
                    font-size: 12px;
                    padding: 0 20px;

                    span {
                        padding: 8px 0;
                    }
                }
            }
        }

        .row {
            .product {
                margin-top: 16px;

                .product-img-wrapper {
                    .product-btn {
                        font-size: 12px;
                        top: 83%;
                        height: 30px;
                    }
                }

                .product-info {
                    padding: 13px 0;

                    .product-reviews {
                        font-size: 8px;
                    }

                    .p-info-list {
                        .product-name {
                            font-size: 11px;
                        }

                        .product-price {
                            font-size: 11px;
                        }
                    }

                    .product-des {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .best-sellers {
        margin: 90px auto;

        .b-s-buttons {
            .b-s-text {
                font-size: 20px;
            }

            .b-s-btn-list {
                .b-s-btn {
                    font-size: 13px;
                    padding: 0 25px;

                    span {
                        display: block;
                        padding: 10px 0;
                    }
                }
            }
        }

        .row {
            .product {
                margin-top: 18px;

                .product-img-wrapper {
                    .product-btn {
                        font-size: 13px;
                        top: 83%;
                        height: 35px;
                    }
                }

                .product-info {
                    padding: 14px 0;

                    .product-reviews {
                        font-size: 9px;
                    }

                    .p-info-list {
                        .product-name {
                            font-size: 13px;
                        }

                        .product-price {
                            font-size: 13px;
                        }
                    }

                    .product-des {
                        font-size: 11px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1400px) {
    .best-sellers {
        width: 1300px !important;
        margin: 100px auto;

        .b-s-buttons {
            .b-s-text {
                font-size: 22px;
            }

            .b-s-btn-list {
                .b-s-btn {
                    font-size: 14px;

                    span {
                        padding: 12px 0;
                    }
                }
            }
        }

        .row {
            .product {
                margin-top: 20px;

                .product-img-wrapper {
                    .product-btn {
                        font-size: 14px;
                        top: 80%;
                        height: 40px;
                    }
                }

                .product-info {
                    padding: 15px 0;

                    .product-reviews {
                        font-size: 10px;
                    }

                    .p-info-list {
                        .product-name {
                            font-size: 14px;
                        }

                        .product-price {
                            font-size: 14px;
                        }
                    }

                    .product-des {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}