@import "../../../../styles/variables.scss";

.header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 999;

    .container {
        position: relative;
        z-index: 3;
        display: flex;
        flex-direction: column;
        height: 100%;

        .navbar {
            flex-wrap: nowrap;
            background-color: $white;
            .d-menu-wrapper,
            .r-menu-wrapper {
                flex: 1;
            }
        }
    }
    .overlay {
        display: none;
        position: absolute;
        z-index: 4;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: gray;
        transition: all 0.5s;
        opacity: 0.5;
    }

    .overlay.active {
        display: block;
    }
}

.header.scrolling {
    border-bottom: 1px solid $light-gray;
}

@media (max-width: 575.98px) {
    .header {
        position: sticky;
        width: 100%;
        top: 0;
        z-index: 999;
        background: linear-gradient(to bottom, $black 40px, $white 0%);
        height: auto;

        .container {
            .navbar {
                height: 50px;

                > :first-child {
                    margin-left: 20px;
                }

                > :last-child {
                    margin-right: 20px;
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .header {
        background: linear-gradient(to bottom, $black 32px, $white 0%);

        .container {
            .navbar {
                height: 52px;
            }
        }
    }
}

@media (min-width: 768px) {
    .header {
        background: linear-gradient(to bottom, $black 34.5px, $white 0%);
        .container {
            .navbar {
                height: 54px;
            }
        }
    }
}

@media (min-width: 992px) {
    .header {
        background: linear-gradient(to bottom, $black 36px, $white 0%);
    }
}

@media (min-width: 1200px) {
    .header {
        background: linear-gradient(to bottom, $black 38px, $white 0%);
    }
}

@media (min-width: 1400px) {
    .header {
        background: linear-gradient(to bottom, $black 40px, $white 0%);

        .container {
            width: 1300px !important;
        }
    }
}
