@import "../../../styles/GlobalStyles.scss";

.footer {
    padding-top: 50px;
    border-top: 1px solid $black;
    .container {
        display: flex;
        justify-content: space-between;
        .l-footer {
            .logo {
                height: auto;
            }
            .l-f-text {
                font-weight: 500;
            }
            .l-f-text-su {
                font-weight: 500;
            }
            .email-form {
                display: flex;
                .email-input {
                    border: none;
                    border-bottom: 1px solid $black;
                    &:focus-visible {
                        outline: none;
                    }
                }
            }
            .footer-contact {
                .c-icon {
                    color: $orange;
                    cursor: pointer;
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
        .r-footer {
            display: flex;
            .f-list {
                &:first-child {
                    margin-right: 100px;
                }
                .f-list-item {
                    font-size: 16px;
                    margin-bottom: 10px;
                    &:first-child {
                        font-weight: bold;
                    }
                    &:not(:first-child):hover {
                        color: $orange;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .bot-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $black;
        .b-f-text {
            color: $white;
            &:nth-child(2) {
                border-left: 1px solid $white;
                border-right: 1px solid $white;
            }
            &:not(:last-child):hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 575.98px) {
    .footer {
        padding-top: 30px;
        .container {
            display: block;
            width: 90%;
            margin-bottom: 20px;
            .l-footer {
                > * {
                    text-align: center;
                }
                .logo {
                    display: block;
                    width: 120px;
                    margin: 0 auto 30px auto;
                }
                .l-f-text {
                    font-size: 13px;
                }
                .l-f-text-su {
                    font-size: 11px;
                    margin-bottom: 22px;
                }
                .email-form {
                    margin-bottom: 30px;
                    .email-input {
                        width: 80%;
                        margin-right: 12px;
                        font-size: 11px;
                    }
                    ::placeholder {
                        font-size: 9px;
                    }
                }
                .footer-contact {
                    .c-icon {
                        font-size: 17px;
                        margin: 0 10px;
                    }
                }
            }
            .r-footer {
                justify-content: center;
                margin-top: 30px;
                .f-list {
                    &:first-child {
                        margin-right: 70px;
                    }
                    .f-list-item {
                        font-size: 13px;
                        margin-bottom: 7px;
                        &:first-child {
                            margin-bottom: 19px;
                        }
                    }
                }
            }
        }
        .bot-footer {
            height: 29px;
            .b-f-text {
                font-size: 10px;
                padding: 0 9px;
            }
        }
    }
}

@media (min-width: 576px) {
    .footer {
        padding-top: 30px;
        .container {
            margin-bottom: 22px;
            .l-footer {
                .logo {
                    width: 110px;
                    margin-bottom: 40px;
                }
                .l-f-text {
                    font-size: 12px;
                }
                .l-f-text-su {
                    font-size: 10px;
                    margin-bottom: 21px;
                }
                .email-form {
                    margin-bottom: 40px;
                    .email-input {
                        width: 160px;
                        margin-right: 11px;
                        font-size: 10px;
                    }
                    ::placeholder {
                        font-size: 8px;
                    }
                }
                .footer-contact {
                    .c-icon {
                        font-size: 16px;
                        margin: 0 6px;
                    }
                }
            }
            .r-footer {
                .f-list {
                    &:first-child {
                        margin-right: 6px;
                    }
                    .f-list-item {
                        font-size: 12px;
                        margin-bottom: 6px;
                        &:first-child {
                            margin-bottom: 18px;
                        }
                    }
                }
            }
        }
        .bot-footer {
            height: 27px;
            .b-f-text {
                font-size: 10px;
                padding: 0 9px;
            }
        }
    }
}

@media (min-width: 768px) {
    .footer {
        padding-top: 35px;
        .container {
            margin-bottom: 24px;
            .l-footer {
                .logo {
                    width: 120px;
                    margin-bottom: 50px;
                }
                .l-f-text {
                    font-size: 13px;
                }
                .l-f-text-su {
                    font-size: 11px;
                    margin-bottom: 22px;
                }
                .email-form {
                    margin-bottom: 50px;
                    .email-input {
                        width: 180px;
                        margin-right: 12px;
                        font-size: 11px;
                    }
                    ::placeholder {
                        font-size: 9px;
                    }
                }
                .footer-contact {
                    .c-icon {
                        font-size: 17px;
                        margin: 0 7px;
                    }
                }
            }
            .r-footer {
                .f-list {
                    &:first-child {
                        margin-right: 70px;
                    }
                    .f-list-item {
                        font-size: 13px;
                        margin-bottom: 7px;
                        &:first-child {
                            margin-bottom: 19px;
                        }
                    }
                }
            }
        }
        .bot-footer {
            height: 29px;
            .b-f-text {
                font-size: 11px;
                padding: 0 10px;
            }
        }
    }
}

@media (min-width: 992px) {
    .footer {
        padding-top: 40px;
        .container {
            margin-bottom: 26px;
            .l-footer {
                .logo {
                    width: 130px;
                    margin-bottom: 60px;
                }
                .l-f-text {
                    font-size: 14px;
                }
                .l-f-text-su {
                    font-size: 12px;
                    margin-bottom: 23px;
                }
                .email-form {
                    margin-bottom: 60px;
                    .email-input {
                        width: 200px;
                        margin-right: 13px;
                        font-size: 12px;
                    }
                    ::placeholder {
                        font-size: 10px;
                    }
                }
                .footer-contact {
                    .c-icon {
                        font-size: 18px;
                        margin: 0 8px;
                    }
                }
            }
            .r-footer {
                .f-list {
                    &:first-child {
                        margin-right: 80px;
                    }
                    .f-list-item {
                        font-size: 14px;
                        margin-bottom: 8px;
                        &:first-child {
                            margin-bottom: 21px;
                        }
                    }
                }
            }
        }
        .bot-footer {
            height: 31px;
            .b-f-text {
                font-size: 12px;
                padding: 0 11px;
            }
        }
    }
}

@media (min-width: 1200px) {
    .footer {
        padding-top: 45px;
        .container {
            margin-bottom: 28px;
            .l-footer {
                .logo {
                    width: 140px;
                    margin-bottom: 70px;
                }
                .l-f-text {
                    font-size: 15px;
                }
                .l-f-text-su {
                    font-size: 13px;
                    margin-bottom: 24px;
                }
                .email-form {
                    margin-bottom: 70px;
                    .email-input {
                        width: 220px;
                        margin-right: 14px;
                        font-size: 13px;
                    }
                    ::placeholder {
                        font-size: 11px;
                    }
                }
                .footer-contact {
                    .c-icon {
                        font-size: 19px;
                        margin: 0 9px;
                    }
                }
            }
            .r-footer {
                .f-list {
                    &:first-child {
                        margin-right: 90px;
                    }
                    .f-list-item {
                        font-size: 15px;
                        margin-bottom: 9px;
                        &:first-child {
                            margin-bottom: 23px;
                        }
                    }
                }
            }
        }
        .bot-footer {
            height: 33px;
            .b-f-text {
                font-size: 13px;
                padding: 0 12px;
            }
        }
    }
}
@media (min-width: 1400px) {
    .footer {
        padding-top: 50px;
        .container {
            margin-bottom: 30px;
            .l-footer {
                .logo {
                    width: 150px;
                    margin-bottom: 75px;
                }
                .l-f-text {
                    font-size: 16px;
                }
                .l-f-text-su {
                    font-size: 14px;
                    margin-bottom: 25px;
                }
                .email-form {
                    margin-bottom: 80px;
                    .email-input {
                        width: 240px;
                        margin-right: 15px;
                        font-size: 14px;
                    }
                    ::placeholder {
                        font-size: 12px;
                    }
                }
                .footer-contact {
                    .c-icon {
                        font-size: 20px;
                        margin: 0 10px;
                    }
                }
            }
            .r-footer {
                .f-list {
                    &:first-child {
                        margin-right: 100px;
                    }
                    .f-list-item {
                        font-size: 16px;
                        margin-bottom: 10px;
                        &:first-child {
                            margin-bottom: 25px;
                        }
                    }
                }
            }
        }
        .bot-footer {
            height: 35px;
            .b-f-text {
                font-size: 14px;
                padding: 0 13px;
            }
        }
    }
}
