@import "../../../../styles/variables.scss";

.image-with-text-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(max-content, max-content) 100px minmax(max-content, max-content);
    column-gap: 20px;
    width: 100%;
    .image-with-text-wrapper {
        &:first-child {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .i-w-t-list {
                display: flex;
                justify-content: space-between;
                width: 90%;
                margin: 0 auto;
                .i-w-t-item {
                    > img {
                        display: block;
                        height: auto;
                    }
                    > p {
                        text-align: center;
                    }
                }
            }
        }
        &:nth-child(2) {
            grid-column-start: 2;
            grid-row-start: 1;
            grid-row-end: 3;
        }
        &:nth-child(3) {
            grid-column-start: 2;
            grid-row-start: 3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 90%;
            margin: 0 auto;
        }
        &:last-child {
            grid-column-start: 1;
            grid-row: 2 / span 2; //Make item start on column 2 and span 2 columns
        }
        .i-w-t-text {
            font-weight: 700;
            text-align: center;
        }
        .i-w-t-child-text {
            line-height: 28px;
        }
    }
}

@media (max-width: 575.98px) {
    //mobile devices
    .image-with-text-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        .image-with-text-wrapper {
            &:first-child {
                order: 1;
                margin: 35px 0;
                .i-w-t-list {
                    .i-w-t-item {
                        > img {
                            width: 100px;
                        }
                    }
                }
            }
            &:nth-child(2) {
                order: 2;
            }
            &:nth-child(3) {
                order: 3;
                margin: 35px auto;
            }
            &:last-child {
                order: 4;
            }
            .i-w-t-text {
                font-size: 20px;
                margin-bottom: 15px;
            }
            .i-w-t-child-text {
                font-size: 11px;
                margin-bottom: 15px;
            }
        }
    }
}

@media (min-width: 576px) {
    .image-with-text-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        .image-with-text-wrapper {
            &:first-child {
                order: 1;
                margin: 40px 0;
                .i-w-t-list {
                    .i-w-t-item {
                        > img {
                            width: 110px;
                        }
                    }
                }
            }
            &:nth-child(2) {
                order: 2;
            }
            &:nth-child(3) {
                order: 3;
                margin: 40px auto;
            }
            &:last-child {
                order: 4;
            }
            .i-w-t-text {
                font-size: 22px;
                margin-bottom: 17px;
            }
            .i-w-t-child-text {
                font-size: 12px;
                margin-bottom: 17px;
            }
        }
    }
}

@media (min-width: 768px) {
    .image-with-text-container {
        .image-with-text-wrapper {
            &:first-child {
                order: 2;
                margin: 45px 0;
                .i-w-t-list {
                    .i-w-t-item {
                        > img {
                            width: 120px;
                        }
                    }
                }
            }
            &:nth-child(2) {
                order: 1;
            }
            &:nth-child(3) {
                order: 4;
                margin: 45px auto;
            }
            &:last-child {
                order: 3;
            }
            .i-w-t-text {
                font-size: 24px;
                margin-bottom: 19px;
            }
            .i-w-t-child-text {
                font-size: 13px;
                margin-bottom: 19px;
            }
        }
    }
}

@media (min-width: 992px) {
    .image-with-text-container {
        display: grid;
        margin: 80px auto;
        .image-with-text-wrapper {
            &:first-child {
                .i-w-t-list {
                    .i-w-t-item {
                        > img {
                            width: 130px;
                        }
                    }
                }
            }

            &:nth-child(2) {
                img {
                    border-radius: 20px;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }

            &:last-child {
                img {
                    border-radius: 20px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
            .i-w-t-text {
                font-size: 26px;
                margin-bottom: 21px;
            }
            .i-w-t-child-text {
                font-size: 14px;
                margin-bottom: 21px;
            }
        }
    }
}

@media (min-width: 1200px) {
    .image-with-text-container {
        margin: 90px auto;
        .image-with-text-wrapper {
            &:first-child {
                .i-w-t-list {
                    .i-w-t-item {
                        > img {
                            width: 140px;
                        }
                    }
                }
            }
            .i-w-t-text {
                font-size: 28px;
                margin-bottom: 23px;
            }
            .i-w-t-child-text {
                font-size: 15px;
                margin-bottom: 23px;
            }
        }
    }
}

@media (min-width: 1400px) {
    .image-with-text-container {
        width: 1300px;
        margin: 100px auto;
        .image-with-text-wrapper {
            &:nth-child(2) {
                img {
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                }
            }

            &:last-child {
                img {
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                }
            }
            &:first-child {
                .i-w-t-list {
                    width: 80%;
                    .i-w-t-item {
                        > img {
                            width: 150px;
                        }
                    }
                }
            }
            .i-w-t-text {
                font-size: 30px;
                margin-bottom: 25px;
            }
            .i-w-t-child-text {
                font-size: 16px;
                margin-bottom: 25px;
            }
        }
    }
}

@media (min-width: 1684px) {
    .image-with-text-container {
        width: 1684px;
    }
}
