@import "../../styles/variables.scss";

.checkout-wrapper {
    .checkout-container {
        max-width: 1300px;
        width: 100%;
        height: 100vh;
        .checkout-main {
            text-align: center;
            float: right;
            margin-right: 55px;
            .checkout-breadcumb {
                margin: 15px 0 10px 0;
                .checkout-breadcumb-text {
                    color: #1878b9;
                    font-size: 13px;
                    cursor: pointer;
                }
                .checkout-breadcumb-text.active {
                    color: $black;
                    pointer-events: none;
                }
                .arrow {
                    font-size: 11px;
                    margin: 0 8px;
                }
            }
            .urgency-message {
                color: $orange;
                font-size: 14px;
                margin-bottom: 30px;
            }
        }
        .checkout-sidebar {
            margin-left: 55px;
            .products {
                display: flex;
                flex-direction: column;
                gap: 10px;
                .product-checkout {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .product-description {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        .product-img {
                            width: 64px;
                            height: auto;
                            border-radius: 5px;
                        }
                        .product-info-group {
                            text-transform: capitalize;
                            .product-name {
                                font-weight: bold;
                                font-size: 14px;
                            }
                            .product-price {
                                font-size: 15px;
                                color: gray;
                            }
                            .product-price.hidden {
                                display: none;
                                > * {
                                    display: none;
                                }
                            }
                        }
                    }
                    .product-total-price {
                        .before-discount {
                            font-size: 13px;
                            color: gray;
                        }
                        .after-discount {
                            font-weight: bold;
                            font-size: 15px;
                        }
                        .after-discount.hidden {
                            display: none;
                        }
                    }
                }
            }
            .total-wrapper {
                margin: 20px 0;
                padding: 15px 0;
                border-top: 2px solid $light-gray;
                border-bottom: 2px solid $light-gray;
            }

            .subtotal-group,
            .shipping-group,
            .total-group {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px 0;
                .subtotal-text,
                .shipping-text,
                .total-text {
                    font-size: 14px;
                }
                .subtotal-price,
                .shipping-price {
                    font-weight: bold;
                    font-size: 14px;
                }
                .total-price {
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    span {
                        font-weight: bold;
                        font-size: 24px;
                        margin-left: 7px;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .checkout-wrapper {
        background: linear-gradient(to right, $white calc(100% - 41.67%), rgb(240, 240, 240) 41.67%);
        .checkout-container {
            .checkout-main,
            .checkout-sidebar {
                margin-top: 60px;
            }
        }
    }
}

@media (min-width: 1400px) {
    .checkout-wrapper {
        .checkout-container {
            .checkout-main {
                width: 572px;
            }
            .checkout-sidebar {
                width: 420px;
            }
        }
    }
}
